# LM STUDIO
LMSTUDIO_API=http://127.0.0.1:1234/v1/chat/completions
LMSTUDIO_MODEL=YOUR_LOCAL_MODEL


CLOUD_API_KEY=YOUR_CLOUD_API_KEY

# GITHUB
GITHUB_TOKEN=YOUR_GH_TOKEN
GITHUB_OWNER=YOUR_GH_NAME
GITHUB_REPO=YOUR_GH_REPO_NAME

# SUPABASE
SUPABASE_URL=YOUR_SB_URL
SUPABASE_KEY=YOUR_PUBLISHABLE_KEY
# NOTION
NOTION_KEY=YOUR_NOTION_KEY
NOTION_DATABASE_ID=YOUR_NOTION_DB_ID

# ENGRAM (optional)
ENGRAM_PATH=http://127.0.0.1:3001/memory